<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultar</title>
</head>
<body>
<h1>Listado de Profesores</h1>
<table border="1">
    {% for fila in filas %}
    <tr>
        {% for nombre in fila %}
        <td>{{ nombre }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p><a href="/">Volver al inicio</a></p>
</body>
</html>