<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Profesor Existente</title>
</head>
<body>
<h1>Eliminar Profesor</h1>
<form action="/eliminar" method="POST">
    <td>
        <label>Cedula: </label>
        <select name="cedula">
            {% for cedula in filas %}
            <option name="{{ cedula[0] }}"> {{ cedula[0] }} </option>
            {% endfor %}
        </select>
        <p><input type="submit" value="Enviar" /></p>
    </td>
</form>
</body>
</html>